<% for (let i = 0; i < results.length; i++) { %>

    <span>id number <%= i %>: <%= results[i].idbossmantable %> age: <%= results[i].age %> </span> 

<% } %>

<% for (let i = 0; i < results.length; i++) { %>

    <span>id number <%= i %>: <%= results[i].idLuzon %>  age: <%= results[i].Province %> CITY: <%= results[i].Cities %></span> 

<% } %>